<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbook - Araç Kiralama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/frontend/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/css/animate.css">
    <link rel="stylesheet" href="/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/frontend/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/frontend/css/magnific-popup.css">
    <link rel="stylesheet" href="/frontend/css/aos.css">
    <link rel="stylesheet" href="/frontend/css/ionicons.min.css">
    <link rel="stylesheet" href="/frontend/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/frontend/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/frontend/css/flaticon.css">
    <link rel="stylesheet" href="/frontend/css/icomoon.css">
    <link rel="stylesheet" href="/frontend/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Car<span>Book</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item"><a href="/About/Index" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a href="/Cars/Index" class="nav-link">Araçlar</a></li>
                    <li class="nav-item"><a href="/Services/Index" class="nav-link">Hizmetler</a></li>
                    <li class="nav-item"><a href="/Contact/Index" class="nav-link">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p>Konforlu, güvenli ve hızlı araç kiralamanın en doğru adresi.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Hızlı Linkler</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
                            <li><a href="#" class="py-2 d-block">Hizmetler</a></li>
                            <li><a href="#" class="py-2 d-block">Şartlar & Koşullar</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Sıkça Sorulanlar</a></li>
                            <li><a href="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
                            <li><a href="#" class="py-2 d-block">Kiralama İpuçları</a></li>
                            <li><a href="#" class="py-2 d-block">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">İletişim</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">İzmir, Türkiye</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+90 555 123 45 67</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@carbook.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | CarBook
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="/frontend/js/jquery.min.js"></script>
    <script src="/frontend/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/frontend/js/popper.min.js"></script>
    <script src="/frontend/js/bootstrap.min.js"></script>
    <script src="/frontend/js/jquery.easing.1.3.js"></script>
    <script src="/frontend/js/jquery.waypoints.min.js"></script>
    <script src="/frontend/js/jquery.stellar.min.js"></script>
    <script src="/frontend/js/owl.carousel.min.js"></script>
    <script src="/frontend/js/jquery.magnific-popup.min.js"></script>
    <script src="/frontend/js/aos.js"></script>
    <script src="/frontend/js/jquery.animateNumber.min.js"></script>
    <script src="/frontend/js/bootstrap-datepicker.js"></script>
    <script src="/frontend/js/jquery.timepicker.min.js"></script>
    <script src="/frontend/js/scrollax.min.js"></script>
    <script src="/frontend/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>