@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/frontend/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">Üye Girişi</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 block-9 mb-md-5">
                <form asp-action="Login" method="post" class="bg-light p-5 contact-form rounded shadow">

                    <input type="hidden" name="returnUrl" value="@Context.Request.Query["returnUrl"]" />

                    <h3 class="mb-4 text-center">Hoş Geldiniz</h3>

                    <div class="form-group">
                        <label>Email Adresi</label>
                        <input type="email" name="email" class="form-control" required placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" name="password" class="form-control" required placeholder="Şifre">
                    </div>

                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary py-3 px-5 w-100">Giriş Yap</button>
                    </div>

                    <div class="text-center mt-3">
                        <p>Hesabınız yok mu? <a href="/Auth/Register" class="text-primary font-weight-bold">Hemen Kayıt Olun</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>